body {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
   
}

*{
    text-decoration: none;
    color: inherit;
}

.header-1 {
    background-color: rgb(19, 18, 18);
    height: 32px;
    border: 1px solid rgb(73, 75, 72);
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    font-size: 13px;
    overflow: hidden;
}

@keyframes loop {

    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.header-1-divs {
    display: flex;
    gap: 10px;
    animation: loop 8s linear infinite;

}

.header-1-span-1 {
    color: #aca3a3d5;
}

.header-1-span-2 {
    color: #ffffffd5;
}

.header-1-span-3 {
    color: #20aa4ad5;
}

#header-1-span-3-red-1,
#header-1-span-3-red-2 {
    color: rgb(238, 98, 98)
}

.header-2 {
    position: sticky;
    top: 0;
    left: 10%;
    right: 10%;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px 0 60px;
}

.header-2-svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    background:
        linear-gradient(to bottom right,
            rgb(35, 98, 138),
            rgb(41, 165, 196),
            rgb(41, 233, 156));
    border-radius: 8px;

}

#header-2-svg-trend {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 19px;
    color: white;
}

.first-section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.first-section-1-1 {
    display: flex;
    font-weight: 600;
    font-size: 22px;
    text-decoration: none;
    color: inherit;
}

.first-section-1-1-span {
    color: rgb(34, 140, 228);
    font-size: 22px;
}

.first-section {
    color: white;
}

.second-section {
    display: flex;
    font-size: 15px;
    gap: 16px;
    color: rgb(185, 180, 180);
    font-weight: 600;
}

.second-section-divs {
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    color: inherit;

}

.second-section-divs:hover {
    background-color: rgba(255, 255, 255, 0.185);
    cursor: pointer;

}

.third-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}

.third-section-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(116, 116, 116);
    height: 24px;
    width: 110px;
    font-size: 11px;
    border-radius: 16px;
    background-color: rgb(34, 34, 34);
    padding: 1px;

}

.third-section-1-svg {
    margin: 2px 0 0 0;
}

.third-section-2 {
    border: none;
    background: none;
}

.light-dark-toggle {
    height: 18px;
    color: #929292;
    margin: 2px 0 0 0;
    padding: 4px;
    border-radius: 6px;
}

.light-dark-toggle:hover {
    background-color: #9292923b;
}

.third-section-3 {
    display: flex;
    font-size: 14px;
    color: #a5a7a8;
    text-decoration: none;
}

.third-section-3:hover {
    color: white;
}

.third-section-4 {
    background-color: rgb(23, 103, 172);
    font-size: 12px;
    font-weight: 600;
    padding: 10px 22px 10px 22px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
}

.third-section-4:hover {
    background-color: rgba(58, 177, 233, 0.863);

}

.light-dark-toggle,
.third-section-3,
.third-section-4:hover {
    cursor: pointer;
}

.stocks-section-1,
.stocks-section-2,
.stocks-section-3,
.stocks-section-4,
.stocks-section-5 {
    color: white;
}

.stocks-section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0 60px 0;
}

.stocks-section-1-1 {
    background-color: rgba(53, 84, 150, 0.281);
    padding: 6px 12px 6px 12px;
    border-radius: 18px;
    font-size: 14px;
    color: rgba(106, 148, 238, 0.884);
    margin-bottom: 20px;
    font-weight: 600;
}

.stocks-section-1-2 {
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 10px;
}

.stocks-section-1-3 {
    text-align: center;
    font-size: 20px;
    width: 800px;
    color: #686767;

}

.stocks-section-1-4 {
    background-color: rgba(12, 131, 187, 0.89);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 30px;
    width: 160px;
    height: 55px;
    border-radius: 12px;
    border: none;
    color: antiquewhite;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 60px;
    text-decoration: none;
}

.stocks-section-1-4:hover {
    background-color: rgba(58, 177, 233, 0.863);
    box-shadow: 0px 0px 25px rgba(0, 140, 255, 0.733);
    transition: .11s ease-in-out;
    cursor: pointer;
}

.stocks-section-2 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    justify-content: center;
    gap: 20px;
    padding: 0 40px 0 40px;
    margin: 0 40px 0 40px;
}

.stocks-section-2-cards {
    border: 1px solid rgba(100, 100, 100, 0.404);
    padding: 24px;
    background-color: #64646434;
    font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
    ;
    font-weight: 600;
    border-radius: 18px;

}

.stocks-section-2-1 {
    font-size: 16px;
    color: white;
}

.stocks-section-2-2 {
    color: #a0a1a1;
    width: 250px;
    margin-top: 10px;
    font-size: 16px;
}

.stocks-section-3 {
    display: flex;
    flex-direction: column;

    padding: 30px;
    margin: 0 50px 0 50px;
}

.stocks-section-3-1 {
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-left: -5px;
    font-weight: 600;
}

table {
    border-collapse: collapse;
    border-radius: 10px;
    font-size: 15px;
}

.thead-tr-1 {

    border: 1px solid rgba(182, 182, 182, 0.541);
    background-color: #363636;

}

.table-trs {
    border: 1px solid rgba(182, 182, 182, 0.315);

}

.theads {
    padding: 20px 40px 20px 40px;
    text-align: left;

}

.tbody-datas {
    background-color: #0e0e0ea4;
    padding: 20px 40px 20px 40px;
    width: 240px;

}

#companies {
    color: #a8a8a8;
}

#prices {
    text-align: right;
    color: white;
}

#states {
    text-align: right;
}

#positive {
    color: rgba(0, 128, 0, 0.705);
    text-align: right;
}

#negative {
    color: rgba(255, 0, 0, 0.692);
    text-align: right;
}

.stocks-section-4 {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 20px;
    padding: 20px 60px 60px 60px;
}

.stocks-section-4-1 {

    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}

.stocks-section-4-cards-container {
    display: flex;
    flex-wrap: wrap;

    gap: 20px;
}

.stocks-section-4-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    border: 1px solid rgb(95, 87, 87);
    width: 330px;
    border-radius: 10px;
    font-weight: 600;
    background-color: #7272725d;
}

.stocks-section-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #032f5227;
    margin: 20px 120px 20px 120px;
    border-radius: 20px;
}

.stocks-section-5-1 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}

.stocks-section-5-2 {
    color: #837f7f;
    margin-bottom: 20px;
}

.stocks-section-5-3 {
    background-color: rgba(12, 131, 187, 0.89);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 0px;
    width: 180px;
    height: 45px;
    border-radius: 12px;
    border: none;
    color: antiquewhite;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 30px;
    text-decoration: none;
}

.stocks-section-5-3:hover {
    background-color: rgba(58, 177, 233, 0.863);
    box-shadow: 0px 0px 25px rgba(0, 140, 255, 0.733);
    transition: .11s ease-in-out;
    cursor: pointer;
}





#separator8-9 {
    top: -7%;
    left: 0%;
    position: absolute;
    height: 0px;
    width: 1340px;
    opacity: 0.2;
}

.body-section-9 {
    position: relative;
    background-color: #000000;
    padding: 100px 120px 20px 60px;
    display: flex;
    gap: 120px;
    color: #086ab9;
    border-top: 1px solid #2c2c2c;
}

.body-section-9-1 {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0px 20px 20px 20px;
}

.body-section-9-1-1 {
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.body-section-9-1-span-2 {
    color: #4da9f5;
}

.body-section-9-1-1-img-container {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    background: linear-gradient(135deg,
            rgb(0, 140, 170),
            rgb(0, 170, 140),
            rgb(0, 200, 120));
    margin-right: 8px;

}

.body-section-9-1-span-1,
.body-section-9-1-span-2,
#body-section-9-1-1-img:hover {
    cursor: pointer;
}

#body-section-9-1-1-img {
    height: 18px;
    color: white;
}

.body-section-9-1-2 {
    color: rgb(177, 173, 173);
    text-align: left;
    width: 410px;
    display: flex;
    gap: 10px;
    font-weight: 400;
    font-size: 16spx;
}

.body-section-9-1-2-img-container {

    /* background-color: #4d4d4d; */
    padding: 4px;
}

.body-section-9-1-2-imgs {
    color: grey;
    height: 21px;
}

.body-section-9-1-2-imgs:hover {
    color: rgb(172, 172, 172);
    cursor: pointer;
}

.body-section-9-1-btns {
    display: flex;
    gap: 10px;
    font-size: 1px;
}

.body-section-9-1-imgs-btn {
    display: flex;
    align-items: center;
    background-color: #1d1d1d;
    padding: 9px 16px 9px 16px;
    border-radius: 10px;
    gap: 16px;
    max-width: max-content;
}

.body-section-9-1-imgs-btn:hover {
    cursor: pointer;
}

.body-section-9-1-imgs-btn:hover {
    background-color: rgb(95, 95, 95);
}

.body-section-9-1-imgs {
    height: 24px;
    width: 24px;
}

.body-section-9-1-btn {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
}

.body-section-9-1-btn-span {
    color: #b8b3b3;
    font-weight: 500;
    font-size: 18px;
}

#body-section-9-1-btns1-span,
#body-section-9-1-btns2-span {
    font-size: 13px;
}

.body-section-9-2-1 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 150px;
    justify-self: center;
    padding: 0 20px 0 0;

}

.body-section-9-2-1-1,
.body-section-9-2-1-2,
.body-section-9-2-1-3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #646464;
    font-weight: 500;
}

.body-section-9-2-1-1-span,
.body-section-9-2-1-2-span,
.body-section-9-2-1-3-span {
    color: white;
    font-weight: 600;
}

.body-section-9-2-1-spans:hover {
    color: white;
    cursor: pointer;

}

#separator-9-10 {
    position: absolute;
    top: -10%;
    left: 6%;
    width: 1180px;
    border: 1px solid rgba(51, 51, 51, 0.253);
}

.body-section-10 {
    position: relative;
    color: white;
    padding: 20px 0 40px 0;
}

.body-section-10-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px 0 20px 0;
}

.body-section-10-1-imgs {
    height: 19px;
}

.body-section-10-1-1,
.body-section-10-1-2,
.body-section-10-1-3,
.body-section-10-1-4 {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #727272;
    font-weight: 400;
}

.body-section-10-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #727272;
    padding: 5px 70px 30px 70px;
    font-size: 13px;

}

.body-section-10-2-spans:hover {
    color: rgb(224, 224, 224);
    cursor: pointer;
}

.body-section-10-2-1 {
    display: flex;
    gap: 20px;

}

.body-section-10-3-1 {
    display: flex;
    margin: 0px 65px 0 65px;
}

.body-section-10-3-2 {
    font-size: 13px;
    padding: 20px 16px 20px 16px;
    background-color: #0a0b0c;
    border-radius: 8px;
    color: #545555;
}

.body-section-10-3-2-span {
    color: #5a5a5a;
    font-weight: 700;
}


/* ETFS CSS */

.stocks-section-2-cards-svgs {
    background-color: #0869b931;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: max-content;
    padding: 10px;
    margin-bottom: 10px;
    color: #76c0fd9c;
    border-radius: 10px;
}

.svgs {
    height: 32px;
}

#stocks-section-2-cards-container {
    display: flex;

    gap: 40px
}

#stocks-section-2-cards {
    width: 320px;
}

#stocks-section-2-1 {
    font-size: 22px;
}

#stocks-section-2-2 {
    width: 100%;
}

#stocks-section-4-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #141414;
    border: 1px solid rgba(128, 128, 128, 0.226);
}

.stocks-section-4-cards-1,
.stocks-section-4-cards-2,
.stocks-section-4-cards-3 {
    margin: 0 0 10px 0;
}

.stocks-section-4-cards-1 {
    font-size: 20px;
}

.stocks-section-4-cards-3 {
    font-size: 14px;
    color: #a1a1a1;
    font-weight: normal;
}

.stocks-section-4-cards-2 {
    color: #01569c;
    font-size: 14px;
}

/* Crypto CSS */

.svgs-warning {
    height: 18px;
    color: orange;
}

.ETFs-section-1-warning-containers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.ETFs-section-1-warning {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    background-color: rgba(255, 166, 0, 0.253);
    padding: 16px;
    margin-bottom: 30px;
    border: 1px solid rgba(255, 166, 0, 0.384);
    border-radius: 10px;
    color: rgb(250, 197, 99);
}

.ETFs-section-1-warning-div {
    width: 800px;
}

.ETFs-section-1-warning-div-span {
    font-weight: 600;
}

#stocks-section-2-cards-svgs-cryto {
    height: 26px;
}

#stocks-section-2-cards-svgs {
    height: 24px;
}

.tbody-datas-crypto {
    display: flex;
    gap: 8px;
}

.tbody-datas-crypto-1 {
    font-weight: 600;
}

.tbody-datas-crypto-2 {
    color: #505050;
}

.theads-2 {
    text-align: center;
}

#companies-2 {
    text-align: center;
}

#crypto-section-4-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.crypto-section-4-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.crypto-section-4-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.crypto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    font-weight: 600;
    font-size: 24px;
    color: #01569c;
    background-color: #0869b92d;
    margin-bottom: 15px;
    border-radius: 25px;

}

.crypto-section-4-cards-2,
.crypto-section-4-cards-3 {
    margin-bottom: 20px;
}

.crypto-section-4-cards-2 {
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.crypto-section-4-cards-3 {
    color: #949393;
    text-align: center;
}

/* Options CSS */


.options-section-1 {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px 60px 20px 60px;
}

.options-section-1-1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 14px;
}

.options-section-1-2 {
    font-size: 17px;
    color: #b1b1b1;
    margin-bottom: 18px;
}

.options-section-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;

}

.options-section-2-cards {
    padding: 20px;
    background-color: #3e3e3f2c;
    border-radius: 15px;
    border: 1px solid rgba(128, 128, 128, 0.185);
}

.options-section-2-cards-1,
.options-section-2-cards-2 {
    margin-bottom: 10px;
}

.options-section-2-cards-1-1 {
    font-size: 18px;
    font-weight: 600;
}

.options-section-2-cards-1 {
    display: flex;
    justify-content: space-between;
}

.options-section-2-cards-1-2 {
    padding: 4px 12px 4px 12px;
    background-color: #01569c41;
    font-size: 12px;
    color: #78c2ffaf;
    border-radius: 12px;
}

.options-section-2-cards-2 {
    color: #848e94;
}

.options-section-2-cards-3 {
    display: flex;
    gap: 10px;

}

.options-section-2-cards-3-1 {
    margin-top: 6px;
    color: rgb(95, 95, 95);
}

.options-section-2-cards-3-2 {
    padding: 6px 9px 6px 9px;
    font-size: 12px;
    background-color: #019c1642;
    border-radius: 7px;
    color: rgb(175, 243, 175);

}

#options-sections-2-cards-3-2 {
    background-color: rgba(255, 166, 0, 0.295);
    color: rgb(255, 166, 0);
}

.options-section-3 {

    color: white;

}

.options-section-3-2 {
    display: flex;
    margin-left: 60px;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
}

.options-section-3-cards-svgs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #01569c;
    background-color: #0869b92d;
    border-radius: 8px;
    height: 40px;
    width: 40px;

}

#options-section-3-cards-svgs {
    height: 24px;
}

.options-section-3-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-right: 40px;
    padding-bottom: 60px;
}

.options-section-3-cards {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #2a2a2b73;
    width: 550px;
    border-radius: 15px;
    border: 1px solid rgba(128, 128, 128, 0.144);
}

/* Retirement CSS */

.retirement-section-1 {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.retirement-section-1-1 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
}

.retirement-section-1-2 {
    font-size: 18px;
    color: rgb(95, 95, 95);
    margin-bottom: 20px;
}

.retirement-section-2 {
    display: flex;
    gap: 20px;
    padding: 20px 60px 40px 60px;
}

.retirement-section-2-cards {
    padding: 30px;
    border: 1px solid rgba(128, 128, 128, 0.116);
    background-color: #1d1d1d4f;
    border-radius: 20px;
}

.retirement-section-2-cards-1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.retirement-section-2-cards-2 {
    width: 310px;
    margin-bottom: 10px;
    color: #727272;
}

.tick {
    color: green;
    height: 20px;
}

.retirement-section-2-cards-3-1 {
    margin-top: 20px;
}

.retirement-section-2-cards-3-1,
.retirement-section-2-cards-3-2,
.retirement-section-2-cards-3-3 {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.retirement-section-2-cards-3-1-2,
.retirement-section-2-cards-3-2-2,
.retirement-section-2-cards-3-3-2 {
    color: #a7a6a6;
}

.retirement-section-2-cards-3-3 {
    margin-bottom: 20px;
}

.retirement-section-2-cards-4{
    background-color: #1d1d1d;
    padding: 8px;
    font-size: 13px;
    color: grey;
    margin-bottom: 10px;
    border-radius: 8px;
}

.retirement-section-2-cards-4-span{
    font-weight: 600;
}

.retirement-section-2-cards-5{
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 16px;
    background-color:rgba(128, 128, 128, 0.192) ;
    border:1px solid rgba(128, 128, 128, 0.329);
    border-radius: 10px;
    text-decoration: none;
}

.retirement-section-3-container{
    color: white;
    display: flex;
    
    align-items: center;
    margin: 30px 80px 30px 80px;
}

.retirement-section-3{
    width: 100%;
    padding: 40px;
    border: 1px solid rgba(128, 128, 128, 0.171);
    background-color: rgba(85, 85, 85, 0.425);
    border-radius: 20px;
}

.retirement-section-3-1{
    font-size: 20px;
    font-weight: 600;
     margin-bottom: 20px;
   
}

.retirement-section-3-2{
    display: grid;
    grid-template-columns: repeat(2 , minmax(0,1fr));
    gap: 20px;
    margin-bottom: 20px;
}

.retirement-section-3-3{
     border-radius: 20px;
    border: 1px solid rgba(128, 128, 128, 0);
    padding: 20px;
    background-color: #000000b2;
    
}

.retirement-section-3-3-1 , .retirement-section-3-3-3{
    font-size: 14px;
    color: rgb(85, 85, 85);
    margin-bottom: 5px;
}

.retirement-section-3-3-2{
    font-size: 36px;
    font-weight: 600;
     margin-bottom: 5px;
}

.retirement-section-4{
    color:rgb(129, 129, 129);
}

.retirement-section-4-span{
    font-weight: 600;
}

#retirement-appy-btn{
    height: 50px;
    width: 150px;
}